body {
    background-color: black;
    background-image: url('windowsxp.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
.field_set{
  background-color: rgba(0, 0, 0, 0.438);
  border-color: black;
  fill: black;
  color: white;
  text-align: center;
    }
.header {
  text-align: center;
  background: rgba(0, 0, 0, 0.774);
  padding: 20px;
  color: white;
  font-size: 30px;
}
.font_white {
  text-align: center;
  background:rgba(0, 0, 0, 0.774);
  color: white;
  flex: auto;
}
.mirror {
  -webkit-transform: scaleX(-1);
transform: scaleX(-1);
}