body {
    background-color: black;
    background-image: url('windowsxp.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
.field_set{
  border-color: darkslategray;
  fill: darkslategray;
    }
.header {
  text-align: center;
  background: transparent;
  color: white;
  font-size: 30px;
}
